<div class="hero">
    <h1 class="hero-text">
        ¡Hola! Soy diseñador gráfico y desarrollador front-end.
        <br> Trabajo como puente entre diseño y código para desarrollar proyectos eficientes y rentables.
    </h1>
</div>
        <section>
           <div class="section-content">
               <div class="section-content--col-2 border" id="projects-row">
                    <h2>Proyectos</h2>
                </div>
                <div class="section-content--col-4 border">
                    
                    <div class="project-showcase" id="project-showcase">
                        <div class="frame">
                            <h2>From Designer to Designer</h2>
                            <img src="./fdtd-02.jpg" alt="Proyecto 1" data-offset="0">
                        </div>
                        <div class="frame">
                            <h2>Alburaya</h2>
                            <img src="./alburaya-03.jpg" alt="Proyecto 1" data-offset="0">
                        </div>
                        <div class="frame">
                            <h2>Wasted Time </h2>
                            <img src="./home-05.jpg" alt="Proyecto 1" data-offset="0">
                        </div>
                        <div class="frame">
                            <h2>Astro Observatory</h2>
                            <img src="./astro-observatory-02.jpg" alt="Proyecto 1" data-offset="0">
                        </div>
                    </div>
                </div>
           </div>
           <div class="section-content">
               <div class="section-content--col-3 border">
                    <h1>¡Hola! Soy Luiso Vázquez, diseñador gráfico y desarrollador front-end que trabaja como puente entre diseño y código para desarrollar proyectos eficientes y rentables.</h1>
                </div>
                <div class="section-content--col-3 border">
                </div>
           </div>
           <div class="section-content">
                <div class="section-content--col-2 border">
                    <h2>Habilidades</h2>
                    <p>Lorem ipsum dolor sit amet consectetur. Ullamcorper ridiculus convallis nibh cursus sit pretium ante lobortis. Placerat adipiscing lorem sagittis nisi adipiscing sapien. Mauris pellentesque at ornare et rutrum tortor sed. Tellus scelerisque ultrices ut enim.</p>
                </div>
                <div class="section-content--col-4 border">
                    <div class="hability-progress-bar">
                        <div class="hability-progress-bar__title">
                            <p>Dominio técnico</p>
                            <p>figma, suite adobe</p>
                        </div>
                        <div class="progress-bar" data-progress="80">
                            <div class="progress"></div>
                        </div>
                    </div>
                    <div class="hability-progress-bar">
                        <div class="hability-progress-bar__title">
                            <p>Dominio técnico</p>
                            <p>figma, suite adobe</p>
                        </div>
                        <div class="progress-bar" data-progress="100">
                            <div class="progress"></div>
                        </div>
                    </div>
                    <div class="hability-progress-bar">
                        <div class="hability-progress-bar__title">
                            <p>Dominio técnico</p>
                            <p>figma, suite adobe</p>
                        </div>
                        <div class="progress-bar" data-progress="60">
                            <div class="progress"></div>
                        </div>
                    </div>
                </div>
           </div>
        </section>